@import './main.css';
footer{
    min-height: 500px;
    background-color: var(--color-1);
}
footer a{
    color: aliceblue;
}
footer a:hover{
    color: aliceblue;
}
footer .foot-img{
    width: 40%;
}
footer .foot-img img{
    margin-top: -80px;
}
footer .contact{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 10rem;
}
footer .contact > div{
    width: 23%;
}
footer .contact > div h5{
    padding-bottom: 10px;
}
footer .contact > div p{
    padding: 12px 0;
}
footer .contact > div:last-child .d-flex a img{
    opacity: .8;
}
footer .contact > div .d-flex{
    width:120px;
}
/* Media Part */
@media screen and (min-width :410px) and (max-width:571px){
    footer .contact {
        width: 90%;
    }
}
@media screen and (max-width :572px){
    footer{
        min-height: 350px;
    }
    footer .foot-img{
        display: none;
    }
    footer .contact{
        width: 100%;
        justify-content: space-evenly;
        margin-top: 5rem;
    }
    footer .contact > p{
        text-align: center;
    }
    footer .contact > div .d-flex{
        width:110px;
    }
}
@media screen and (min-width :580px) and (max-width :1300px){
    footer .foot-img{
        display: none;
    }
    footer .contact{
        width: 100%;
        justify-content: center;
    }
    footer .contact div{
        width: 20%;
    }
    footer .contact > p{
        text-align: center;
    }
}